title = 'Blog'
url = "/blog/:page?"
layout = 'default'
is_hidden = 0

[viewBag]

[blogPosts]
pageNumber = "{{ :page }}"
postsPerPage = 15
noPostsMessage = "Não foi encontrado nenhum post"
sortOrder = "published_at desc"
categoryPage = "blog/categorias"
categoryFilter = "{{ :slug }}"
postPage = "blog/post"

[blogPosts recentsPosts]
pageNumber = 1
postsPerPage = 5
sortOrder = "published_at desc"

[blogCategories]
slug = "{{ :slug }}"
displayEmpty = 0
categoryPage = "blog/categorias"

==
<?php
function onEnd(){
// Optional - set the page title to the category name
//blogPosts.posts
if ($this->category)
$this->page->title = 'Categoria '.ucfirst($this->category->name.' | ClaudeDebussy');
}
?>
==
<div class="banner bg-blog" id="home">
      <div class="sec-titulo">
        <h2 class="section-heading titulo">Blog</h2>
      </div>
    </div>
    <section class="section section-escola" id="about">
      <div class="content-info">
        <h3 class="home-cursos red">Colônia de Férias 2/2017 - 03 à 21 de julho</h3>
        <p class="p-escola">O instituto Claude Debussy vem inovando cada vez mais para que seu filho alcance o máximo do seu potencial. E melhor ainda, fazemos isso de maneira que ele também se divirta mais. Venha conhecer a nossa Colônia de férias!</p>
        <a class="btn-form" target="_blank" href="{{ 'assets/arquivos/tabela-precos-colonia-2017.pdf' | theme }}">Tabela de preços</a>
        <a class="btn-form" target="_blank" href="{{ 'assets/arquivos/grade-horaria-colonia-2017.pdf' | theme }}">Grade horária</a>
        <br><br><br>

        <div class="blog">
        {% set posts = blogPosts.posts %}
        {% for post in posts %}
          <div class="post-box">
            <div class="post-content">
            {% if post.featured_images.count %}
            {% set image_first = post.featured_images|first %}
              <div class="post-img" 
                  style="background-image: url('{{image_first.path}}');">
              </div>
            {% endif %}
              <div class="post-info">
                <h3 class="home-cursos red">{{ post.title }}</h3>
                <p>{{ post.excerpt|raw }}</p>
                <a class="btn-form" href="{{ post.url }}">Leia mais &nbsp;</a>
              </div>
            </div>
          </div>
          {% else %}

            <!--se não existir posts-->
            <div class="no-data">{{ noPostsMessage }}</div>
            {% endfor %}

        </div>
      </div>
    </section>